<!-- section begin -->
<section id="subheader" class="text-light">
  <div class="center-y relative text-center">
    <div class="container">
      <div class="row">

        <div class="col-md-12 text-center">
          <h1>Register</h1>
          <p>Anim pariatur cliche reprehenderit</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
<!-- section close -->


<section aria-label="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3>Don't have an account? Register now.</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

        <div class="spacer-10"></div>

        <form [formGroup]="form" class="form-border">
          <div class="row">
            <div class="col-md-6">
              <div class="field-set">
                <label>Name:</label>
                <input type="text" formControlName="name" class="form-control" required>
                <div *ngIf="showFieldErrs(form, 'name')" class="error">
                  Name is required
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="field-set">
                <label>Email Address:</label>
                <input type="text" formControlName="email" class="form-control" required>
                <div class="error" *ngIf="showFieldErrs(form, 'email')">
                  <span *ngIf="fieldHasErr(form, 'email', 'required')">Email is required</span>
                  <span *ngIf="fieldHasErr(form, 'email', 'email')">Invalid Email</span>
                </div>
              </div>
            </div>

            <!--
            <div class="col-md-6">
              <div class="field-set">
                <label>Choose a Username:</label>
                <input type="text" formControlName="name" class="form-control">
                <div *ngIf="showFieldErrs(form, 'name')" class="error">
                  Username is required
                </div>
              </div>
            </div>
            -->

            <!--
            <div class="col-md-6">
              <div class="field-set">
                <label>Phone:</label>
                <input type="text" formControlName="phone" class="form-control">
              </div>
              <div *ngIf="showFieldErrs(form, 'phone')" class="error">
                Name is required
              </div>
            </div>
            -->

            <div class="col-md-6">
              <div class="field-set">
                <label>Password:</label>
                <input type="text" formControlName="password" class="form-control" required>
                <div *ngIf="showFieldErrs(form, 'password')" class="error">
                  <span *ngIf="fieldHasErr(form, 'password', 'required')">Password is required</span>
                  <span *ngIf="fieldHasErr(form, 'password', 'minLength')">Password too short</span>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="field-set">
                <label>Re-enter Password:</label>
                <input type="text" formControlName="passwordConfirm" class="form-control">
                <div *ngIf="showFormErrs(form)" class="error">
                  <ng-container *ngIf="
                    form.hasError('passwordMismatch')
                    || fieldHasErr(form, 'passwordConfirm', 'required')
                    ">
                    Password comfirmation
                  </ng-container>
                  <span *ngIf="fieldHasErr(form, 'passwordConfirm', 'required')">
                    is required
                  </span>
                  <span *ngIf="
                    form.hasError('passwordMismatch')
                    && !fieldHasErr(form, 'passwordConfirm', 'required')
                    ">
                    not equal to password
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div id="submit" class="pull-left">
                <input type="submit" value="Register Now" class="btn btn-main color-2"
                  (click)="register()"
                />
              </div>

              <div *ngIf="registered" class="success">Your message has been sent successfully.</div>
              <div *ngIf="failed" class="error">Sorry, error occured registering you.</div>
              <div class="clearfix"></div>

            </div>

          </div>
        </form>

      </div>
    </div>
  </div>
</section>
