<!-- section begin -->
<section id="subheader" class="text-light">
  <div class="center-y relative text-center">
    <div class="container">
      <div class="row">

        <div class="col-md-12 text-center">
          <h1>Live Auction</h1>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
<!-- section close -->


<!-- section begin -->
<section aria-label="section">
<div class="container">
  <div class="row wow fadeIn">
    <!-- nft item begin -->
    <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="nft__item nft_layout-2">
        <div class="author_list_pp">
          <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Monica Lucas">
            <img class="lazy" src="images/author/author-1.jpg" alt="">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="nft__item_wrap">
          <div class="nft__item_extra">
            <div class="nft__item_buttons">
              <button onclick="location.href='item-details.html'">Buy Now</button>
              <div class="nft__item_share">
                <h4>Share</h4>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
              </div>
            </div>
          </div>
          <a href="item-details.html">
            <img src="images/items/static-1.jpg" class="lazy nft__item_preview" alt="">
          </a>
        </div>
        <div class="nft__item_info">
          <div class="de_countdown" data-year="2022" data-month="4" data-day="16" data-hour="8"></div>
          <a href="item-details.html">
            <h4>Pinky Ocean</h4>
          </a>
          <div class="nft__item_click display-none">
            <span></span>
          </div>
          <div class="nft__item_price">
            0.08 ETH<span>1/20</span>
          </div>
          <div class="nft__item_action">
            <a href="#">Place a bid</a>
          </div>
          <div class="nft__item_like">
            <i class="fa fa-heart"></i><span>50</span>
          </div>
        </div>
      </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="nft__item nft_layout-2">
        <div class="author_list_pp">
          <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Ida Chapman">
            <img class="lazy" src="images/author/author-11.jpg" alt="">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="nft__item_wrap">
          <div class="nft__item_extra">
            <div class="nft__item_buttons">
              <button onclick="location.href='item-details.html'">Buy Now</button>
              <div class="nft__item_share">
                <h4>Share</h4>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
              </div>
            </div>
          </div>
          <a href="item-details.html">
            <img src="images/items/static-3.jpg" class="lazy nft__item_preview" alt="">
          </a>
        </div>
        <div class="nft__item_info">
          <div class="de_countdown" data-year="2022" data-month="4" data-day="14" data-hour="8"></div>
          <a href="item-details.html">
            <h4>Rainbow Style</h4>
          </a>
          <div class="nft__item_click display-none">
            <span></span>
          </div>
          <div class="nft__item_price">
            0.05 ETH<span>1/11</span>
          </div>
          <div class="nft__item_action">
            <a href="#">Place a bid</a>
          </div>
          <div class="nft__item_like">
            <i class="fa fa-heart"></i><span>97</span>
          </div>
        </div>
      </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="nft__item nft_layout-2">
        <div class="author_list_pp">
          <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Mamie Barnett">
            <img class="lazy" src="images/author/author-2.jpg" alt="">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="nft__item_wrap">
          <div class="nft__item_extra">
            <div class="nft__item_buttons">
              <button onclick="location.href='item-details.html'">Buy Now</button>
              <div class="nft__item_share">
                <h4>Share</h4>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
              </div>
            </div>
          </div>
          <a href="item-details.html">
            <img src="images/items/anim-2.webp" class="lazy nft__item_preview" alt="">
          </a>
        </div>
        <div class="nft__item_info">
          <div class="de_countdown" data-year="2022" data-month="4" data-day="6" data-hour="8"></div>
          <a href="item-details.html">
            <h4>Running Puppets</h4>
          </a>
          <div class="nft__item_click display-none">
            <span></span>
          </div>
          <div class="nft__item_price">
            0.03 ETH<span>1/24</span>
          </div>
          <div class="nft__item_action">
            <a href="#">Place a bid</a>
          </div>
          <div class="nft__item_like">
            <i class="fa fa-heart"></i><span>45</span>
          </div>
        </div>
      </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="nft__item nft_layout-2">
        <div class="author_list_pp">
          <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Lori Hart">
            <img class="lazy" src="images/author/author-4.jpg" alt="">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="nft__item_wrap">
          <div class="nft__item_extra">
            <div class="nft__item_buttons">
              <button onclick="location.href='item-details.html'">Buy Now</button>
              <div class="nft__item_share">
                <h4>Share</h4>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
              </div>
            </div>
          </div>
          <a href="item-details.html">
            <img src="images/items/anim-5.webp" class="lazy nft__item_preview" alt="">
          </a>
        </div>
        <div class="nft__item_info">
          <div class="de_countdown" data-year="2022" data-month="4" data-day="8" data-hour="8"></div>
          <a href="item-details.html">
            <h4>Loop Donut</h4>
          </a>
          <div class="nft__item_click display-none">
            <span></span>
          </div>
          <div class="nft__item_price">
            0.09 ETH<span>1/14</span>
          </div>
          <div class="nft__item_action">
            <a href="#">Place a bid</a>
          </div>
          <div class="nft__item_like">
            <i class="fa fa-heart"></i><span>94</span>
          </div>
        </div>
      </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="nft__item nft_layout-2">
        <div class="author_list_pp">
          <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Jimmy Wright">
            <img class="lazy" src="images/author/author-5.jpg" alt="">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="nft__item_wrap">
          <div class="nft__item_extra">
            <div class="nft__item_buttons">
              <button onclick="location.href='item-details.html'">Buy Now</button>
              <div class="nft__item_share">
                <h4>Share</h4>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
              </div>
            </div>
          </div>
          <a href="item-details.html">
            <img src="images/items/anim-3.webp" class="lazy nft__item_preview" alt="">
          </a>
        </div>
        <div class="nft__item_info">
          <div class="de_countdown" data-year="2022" data-month="4" data-day="16" data-hour="8"></div>
          <a href="item-details.html">
            <h4>Lady Copter</h4>
          </a>
          <div class="nft__item_click display-none">
            <span></span>
          </div>
          <div class="nft__item_price">
            0.08 ETH<span>1/21</span>
          </div>
          <div class="nft__item_action">
            <a href="#">Place a bid</a>
          </div>
          <div class="nft__item_like">
            <i class="fa fa-heart"></i><span>75</span>
          </div>
        </div>
      </div>
    </div>

    <!-- nft item begin -->
    <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="nft__item nft_layout-2">
        <div class="author_list_pp">
          <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Karla Sharp">
            <img class="lazy" src="images/author/author-6.jpg" alt="">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="nft__item_wrap">
          <div class="nft__item_extra">
            <div class="nft__item_buttons">
              <button onclick="location.href='item-details.html'">Buy Now</button>
              <div class="nft__item_share">
                <h4>Share</h4>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
              </div>
            </div>
          </div>
          <a href="item-details.html">
            <img src="images/items/anim-6.webp" class="lazy nft__item_preview" alt="">
          </a>
        </div>
        <div class="nft__item_info">
          <div class="de_countdown" data-year="2022" data-month="4" data-day="16" data-hour="8"></div>
          <a href="item-details.html">
            <h4>Oh Yeah!</h4>
          </a>
          <div class="nft__item_click display-none">
            <span></span>
          </div>
          <div class="nft__item_price">
            0.025 ETH<span>1/12</span>
          </div>
          <div class="nft__item_action">
            <a href="#">Place a bid</a>
          </div>
          <div class="nft__item_like">
            <i class="fa fa-heart"></i><span>6</span>
          </div>
        </div>
      </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="nft__item nft_layout-2">
        <div class="author_list_pp">
          <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Monica Lucas">
            <img class="lazy" src="images/author/author-1.jpg" alt="">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="nft__item_wrap">
          <div class="nft__item_extra">
            <div class="nft__item_buttons">
              <button onclick="location.href='item-details.html'">Buy Now</button>
              <div class="nft__item_share">
                <h4>Share</h4>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
              </div>
            </div>
          </div>
          <a href="item-details.html">
            <img src="images/items-alt/static-1.jpg" class="lazy nft__item_preview" alt="">
          </a>
        </div>
        <div class="nft__item_info">
          <div class="de_countdown" data-year="2022" data-month="4" data-day="6" data-hour="8"></div>
          <a href="item-details.html">
            <h4>Sunny Day</h4>
          </a>
          <div class="nft__item_click display-none">
            <span></span>
          </div>
          <div class="nft__item_price">
            0.08 ETH<span>1/20</span>
          </div>
          <div class="nft__item_action">
            <a href="#">Place a bid</a>
          </div>
          <div class="nft__item_like">
            <i class="fa fa-heart"></i><span>50</span>
          </div>
        </div>
      </div>
    </div>
    <!-- nft item begin -->
    <div class="d-item col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <div class="nft__item nft_layout-2">
        <div class="author_list_pp">
          <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Ida Chapman">
            <img class="lazy" src="images/author/author-11.jpg" alt="">
            <i class="fa fa-check"></i>
          </a>
        </div>
        <div class="nft__item_wrap">
          <div class="nft__item_extra">
            <div class="nft__item_buttons">
              <button onclick="location.href='item-details.html'">Buy Now</button>
              <div class="nft__item_share">
                <h4>Share</h4>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
              </div>
            </div>
          </div>
          <a href="item-details.html">
            <img src="images/items-alt/static-3.jpg" class="lazy nft__item_preview" alt="">
          </a>
        </div>
        <div class="nft__item_info">
          <div class="de_countdown id-color" data-year="2022" data-month="4" data-day="12" data-hour="8"></div>
          <a href="item-details.html">
            <h4>Finally Free</h4>
          </a>
          <div class="nft__item_click display-none">
            <span></span>
          </div>
          <div class="nft__item_price">
            0.05 ETH<span>1/11</span>
          </div>
          <div class="nft__item_action">
            <a href="#">Place a bid</a>
          </div>
          <div class="nft__item_like">
            <i class="fa fa-heart"></i><span>97</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
