.expand-list .expand-custom:nth-child(even) {
  background: #ffffff;
}

.expand-custom {
  background: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 3px;
  box-shadow: 8px 8px 50px 0px rgba(0, 0, 0, 0.1);
}

.expand-custom h4 {
  margin: 0;
  margin-bottom: 5px;
}

.expand-custom p {
  margin: 0;
}

.expand-custom .table {
  display: table;
}

.expand-custom .toggle {
  display: block;
  margin-top: 10px;
  float: right;
  cursor: poInter;
}

.rtl .expand-custom .toggle {
  float: left;
}

.expand-custom .toggle:before {
  font-family: "FontAwesome";
  content: "\f107";
  font-size: 32px;
}

.expand-custom .toggle.clicked:before {
  content: "\f106";
}

.expand-custom .c1,
.expand-custom .c2,
.expand-custom .c3 {
  display: table-cell;
  vertical-align: middle;
}

.expand-custom .c1,
.expand-custom .c2 {
  padding-right: 30px;
}

.expand-custom .c1 img {
  width: 80px;
}

.expand-custom .c1 {
  width: 10%;
}

.expand-custom .c2 {
  width: 80%;
}

.expand-custom .c3 {
  width: 10%;
}

.expand-custom .details {
  display: none;
  margin-top: 30px;
}

.expand-custom .box-custom {
  border-radius: 3px;
}
