/* form */
.form-transparent input[type=text],
.form-transparent textarea,
.form-transparent input[type=email] {
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  border: solid 1px rgba(0, 0, 0, .3);
  background: rgba(0, 0, 0, .2);
  border-radius: 0;
  height: auto;
}

.form-border input[type=text],
.form-border textarea,
.form-underline input[type=email],
.form-border input[type=password],
.form-border input[type=date],
.form-border select {
  padding: 8px;
  border: none;
  border: solid 1px #dddddd;
  background: none;
  border-radius: 6px;
  height: auto;
  box-shadow: none;
  color: #333;
}

.dark-scheme .form-border input[type=text],
.dark-scheme .form-border textarea,
.dark-scheme .form-underline input[type=email],
.dark-scheme .form-border input[type=password],
.dark-scheme .form-border input[type=date],
.dark-scheme .form-border select {
  color: #ffffff;
  border: solid 1px rgba(255, 255, 255, .2);
}

.dark-scheme ::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.dark-scheme .form-border input::-moz-input-placeholder,
.dark-scheme .form-border textarea::-moz-input-placeholder {
  color: rgba(255, 255, 255, .5);
}

.dark-scheme .form-border input::-webkit-input-placeholder,
.dark-scheme .form-border textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .5);
}

.form-border input[type=text]:focus,
.form-border textarea:focus,
.form-underline input[type=email]:focus,
.form-border input[type=date]:focus,
.form-border select:focus {
  background: rgba(var(--secondary-color-rgb), .1);
}

.field-set {
  margin-bottom: 20px;
}

.form-subscribe {
  display: table;
  margin: 0 auto;
}

.form-subscribe input[type=text] {
  display: table-cell;
  border: solid 1px rgba(255, 255, 255, .3);
  border-right: none;
  background: rgba(255, 255, 255, .1);
  padding: 6px 20px 6px 20px;
  border-radius: 60px 0 0 60px;
  height: 40px;
  vertical-align: middle;
}

.form-subscribe .btn-main {
  display: table-cell;
  border-radius: 0 60px 60px 0;
  height: 40px;
  vertical-align: middle;
}

.form-subscribe input[type=text]:hover {
  background: rgba(255, 255, 255, .3);
}

.field-set label {
  color: #606060;
  font-weight: 500;
}

.dark-scheme .field-set label {
  color: #ffffff;
}

#upload_file {
  display: none;
}

#form-create-item textarea {
  height: 45px;
}

.de_form input[type="radio"],
.de_form input[type="checkbox"] {
  /* hide the inputs */
  display: none;
}

.de_form input[type="radio"]+label:before {
  content: "\f111";
  font-family: "FontAwesome";
  margin-right: 10px;
  border: solid 1px #dddddd;
}

.de_form input[type="checkbox"]+label:before {
  position: absolute;
  content: '';
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 10px;
  border: solid 2px rgba(0, 0, 0, .2);
  width: 16px;
  height: 16px;
  margin-top: 5px;
  left: 0;
  font-size: 11px;
  padding: 1px 3px 0 3px;
  line-height: 15px;
  border-radius: 4px;
}

.dark-scheme .de_form input[type="checkbox"]+label:before {
  border: solid 2px rgba(255, 255, 255, .2);
}

.de_checkbox {
  position: relative;
  display: block;
  padding-left: 25px;
}

.de_form input[type="radio"]+label,
.de_form input[type="checkbox"]+label {
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

.no-bg input[type="radio"]+label,
.de_form.no-bg input[type="checkbox"]+label {
  padding: 4px 0px;
  border: none;
  background: none;
}

.de_form input[type="radio"]:checked+label,
.de_form input[type="checkbox"]:checked+label {
  /* style for the checked/selected state */
  border: none;
}

.de_form input[type="checkbox"]:checked+label:before {
  content: "\f00c";
  color: #ffffff;
  border: rgba(0, 0, 0, 0);
}

.item_filter_group {
  border: solid 1px rgba(0, 0, 0, .15);
  margin-bottom: 25px;
  padding: 30px;
  border-radius: 12px;
}

.dark-scheme .item_filter_group {
  border: solid 1px rgba(255, 255, 255, .075);
}

.item_filter_group h4 {
  font-size: 18px;
}

.form-error {
  margin-top: 0.3rem;
  color: #bb0000;
  font-size: 0.8rem;
}
