.owl-carousel {
  position: relative;
  margin-top: -5px;
  bottom: -5px;
  margin-bottom: -15px;
}

.owl-stage-outer .feature-box-type-2 {
  overflow: none;
  margin: 30px 0 30px 0;
}

.owl-item.active.center .feature-box-type-2 {
  transform: scale(1.05);
}

.owl-item.active.center .feature-box-type-2,
.owl-item.active.center .feature-box-type-2 h4,
.owl-item.active.center .feature-box-type-2 i {
  color: #ffffff;
}

.owl-carousel.owl-center .owl-stage-outer{
  padding: 3% 0;
}

.owl-carousel.owl-center .owl-item.active.center {
   position: relative;
   z-index: 101;
   transform: scale(1.2);
   box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.2);
}

.owl-carousel.owl-center .owl-item .nft_pic_title,
.owl-carousel.owl-center .owl-item .nft_pic_by{
  opacity: 0;
}

.owl-carousel.owl-center .owl-item.active.center .nft_pic_title,
.owl-carousel.owl-center .owl-item.active.center .nft_pic_by{
   opacity: 1;
}



.rtl .owl-carousel,
.rtl .bx-wrapper {
  direction: ltr;
}

.rtl .owl-carousel .owl-item {
  direction: rtl;
}


.owl-nav {
  display: flex;
}

.owl-prev,
.owl-next,
.d-nav-left,
.d-nav-right {
  cursor: pointer;
  position: absolute;
  top: 37.5%;
  z-index: 100;
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 1.0);
  border: solid 1px #ccc;
}

#items-carousel-big .owl-prev,
#items-carousel-big .owl-next {
  opacity: 0;
  top: 48%
}

#items-carousel-big:hover .owl-prev,
#items-carousel-big:hover .owl-next {
  opacity: 1;
}

.dark-scheme .owl-prev,
.dark-scheme .owl-next {
  background: #161D30;
  color: #ffffff;
  border-color: rgba(255, 255, 255, .1);
}

.owl-prev:hover,
.owl-next:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.2);
}

.owl-prev,
.d-nav-left {
  left: -12px;
  border-radius: 60px;
  padding-left: 4px;
}

.owl-next,
.d-nav-right {
  right: -12px;
  border-radius: 60px;
  padding-right: 4px;
}

.d-nav-left i,
.d-nav-right i {
  position: absolute;
  top: 20px;
  color: #111111;
  font-size: 20px;
  font-weight: bold;
}

.owl-next i,
.d-nav-left i {
  top: 12px;
  left: 16px;
}

.d-nav-right i {
  top: 12px;
  right: 16px;
}

.owl-arrow {
  z-index: 100;
  background: #fff;
  margin-top: 48%;
  display: none;
  cursor: poInter;
}

.owl-arrow span {
  display: block;
  background: #555;
  position: absolute;
}

.owl-arrow .prev {
  left: 0;
}

.owl-arrow .next {
  right: 0;
}

.owl-arrow .prev:before,
.owl-arrow .next:before {
  font-family: "FontAwesome";
  content: '\f177';
  color: #222222;
  padding: 20px;
  font-size: 32px;
  display: block;
}

.owl-arrow .next:before {
  content: '\f178';
}

.owl-pagination {
  margin-top: 0px;
  height: 40px;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 6px;
  height: 6px;
  background-color: #555;
  opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span {
  background: none;
}

.owl-theme .owl-controls .owl-page.active span:before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 15px;
  position: relative;
  border: solid 2px #555;
  top: -2px;
  left: -2px;
}

/* new owl */

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 20px;
}

.owl-dots button {
  border: none;
  outline: none;
  padding: 0;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot span {
  display: none;
}

.text-light .owl-theme .owl-controls .owl-page span {
  background-color: #fff;
}

.text-light .owl-theme .owl-controls .owl-page.active span {
  background: none;
}

.text-light .owl-theme .owl-controls .owl-page.active span:before {
  border: solid 2px #fff;
}

.owl-custom-nav {
  position: absolute;
  z-index: 100;
  right: 4px;
  margin-top: 80px;
  width: 100%;
}

.owl-custom-nav .btn-next,
.owl-custom-nav .btn-prev {
  opacity: 0;
}

.owl-custom-nav .btn-next {
  right: -50px;
  position: absolute;
}

.owl-custom-nav .btn-prev {
  left: -50px;
  position: absolute;
}


.pf-hover:hover .btn-next {
  right: 30px;
  opacity: 1;
}

.pf-hover:hover .btn-prev {
  left: 30px;
  opacity: 1;
}

.owl-custom-nav .btn-next:before,
.owl-custom-nav .btn-prev:before {
  font-size: 18px;
}

.owl-custom-nav .btn-next:before {
  font-family: "FontAwesome";
  content: "\f178";
  color: #fff;
  padding: 12px;
}

.owl-custom-nav .btn-prev:before {
  font-family: "FontAwesome";
  content: "\f177";
  color: #fff;
  padding: 12px;
}

.owl-custom-nav a {
  text-decoration: none;
}

.owl-custom-nav .btn-prev:hover:before,
.owl-custom-nav .btn-next:hover:before {
  cursor: poInter;
}

#custom-owl-slider {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background: #fff;
}

#custom-owl-slider .items {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 20;
  visibility: inherit;
  opacity: 1;
}

#custom-owl-slider .item img {
  display: block;
  width: 100%;
  height: 100%;
}

.owl-slider-nav {
  position: absolute;
  width: 100%;
}

.owl-slider-nav,
.owl-slider-nav div {
  position: absolute;
  z-index: 10;
  cursor: poInter;
}

.owl-slider-nav .next {
  right: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid transparent;
}

.owl-slider-nav .prev {
  left: -50px;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid transparent;
}

.owl-slider-nav .next:before {
  font-family: "FontAwesome";
  font-size: 24px;
  content: "\f0da";
  color: #fff;
  position: absolute;
  right: -40px;
  top: -13px;
}

.owl-slider-nav .prev:before {
  font-family: "FontAwesome";
  font-size: 24px;
  content: "\f0d9";
  color: #fff;
  position: absolute;
  left: -40px;
  top: -13px;
}

.owl-dots {
  text-align: center;
}

.owl-dot {
  background: #ccc;
  border: none;
  margin: 5px;
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 60px;
}

.dark-scheme .owl-dot {
  background: rgba(255, 255, 255, .3);
}

.owl-item.active div blockquote {
  background: rgba(var(--secondary-color-rgb), .1);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.owl-item.active div blockquote,
.owl-item.active div blockquote .de_testi_by {
  opacity: 1;
}

.owl-item.active div blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  border-radius: 0 0 15px 0;
}

.owl-stage {
  overflow: none;
}
