.schedule-item {
  padding: 40px 0 30px 0;
  border-bottom: solid 1px #ddd;
}

.schedule-listing:nth-child(even) {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(229, 229, 229, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.schedule-item>div {
  float: left;
}

.schedule-item .sc-time {
  width: 160px;
  padding-top: 25px;
  color: #333;
}

.schedule-item .sc-pic {
  width: 120px;
}

.schedule-item .sc-pic img {
  width: 80px;
  height: auto;
}

.schedule-item .sc-name {
  font-weight: normal;
  font-size: 14px;
  width: 160px;
  padding-top: 15px;
}

.schedule-item .sc-name h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  line-height: 1.6em;
}

.schedule-item .sc-name span {
  font-weight: normal;
  font-size: 12px;
}

.schedule-item .sc-info {
  float: none;
  display: inline-block;
  width: 60%;
}

.schedule-item .sc-info h4 {
  margin-bottom: 10px;
}
