/* testimonial */
.de_testi {
  display: block;
  margin-bottom: 10px;
}

.de_testi blockquote {
  margin: 0;
  border: none;
  padding: 20px 30px 30px 80px;
  background: rgba(var(--secondary-color-rgb), .1);
  font-style: normal;
  line-height: 1.6em;
  font-weight: 500;
}

.de_testi blockquote p {
  margin-top: 10px;
}

.de_testi blockquote:before {
  font-family: FontAwesome;
  content: "\f10d";
  padding-bottom: 10px;
  font-size: 20px;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-style: normal;
  background: #000;
  position: absolute;
  left: 15px;
  font-weight: normal;
}

.de_testi blockquote {
  color: #eceff3;
}

.de_testi blockquote,
.de_testi blockquote p {
  font-size: 20px;
  line-height: 1.7em;
  font-weight: normal;
}

.de_testi_by {
  font-style: normal;
  font-size: 12px;
  display: flex;
  margin-top: -20px;
}

.de_testi_by span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.de_testi_by img {
  width: 50px !important;
  height: auto;
  margin-right: 10px;
  border-radius: 40px;
}

.de_testi_pic {
  float: left;
  padding-right: 15px;
}

.de_testi_company {
  padding-top: 20px;
}

.de_testi.opt-2 blockquote {
  display: block;
  border: none;
  color: #606060;
  font-weight: 300;
  padding: 30px 40px 30px 40px;
  background: rgba(var(--secondary-color-rgb), .1);
  border-radius: 3px;
}

.de_testi.opt-2.no-bg blockquote {
  background: none;
}

.de_testi.opt-2 blockquote:before {
  font-family: "FontAwesome";
  content: "\f10d";
  display: block;
  color: rgba(0, 0, 0, .1);
  z-index: 100;
  font-size: 20px;
  background: none;
  left: 20px;
}

.de_testi.opt-2 i {
  font-size: 36px;
}

.de_testi.opt-2.review blockquote {
  padding: 50px;
}

.de_testi.opt-2.review blockquote:before {
  display: none;
}

.de_testi.opt-2.review .p-rating {
  font-size: 14px;
}

.de_testi.opt-2.review p {
  padding-top: 0;
}

.de_testi.opt-2.review h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.text-light .de_testi.opt-2 blockquote {
  color: #fff;
  background: rgba(20, 20, 20, .5);
}

.de_testi.opt-2 blockquote p {
  font-size: 16px;
  padding: 40px 0 0 0;
  font-weight: 400;
  line-height: 1.7em;
}

.de_testi.opt-2 .de_testi_by {
  font-size: 14px;
  font-weight: normal;
}

.de_testi.opt-3 blockquote {
  background: none;
  color: #555;
  padding-top: 0;
  font-weight: 400;
}

.de_testi.opt-3 blockquote p {
  font-size: 14px;
}

.de_testi.opt-3 blockquote:before {
  color: #fff;
}

.de_testi.opt-3 .de_testi_by {
  font-size: 14px;
  color: #000;
}

.de_testi.de-border blockquote {
  border: solid 5px rgba(0, 0, 0, .05);
}

#testimonial-masonry .item {
  margin-bottom: 30px;
}

.testimonial-list p {
  font-style: italic;
}

.testimonial-list,
.testimonial-list li {
  list-style: none;
  padding: 0px;
  font-size: 16px;
  line-height: 1.7em;
  padding-left: 30px;
}

.testimonial-list span {
  font-weight: bold;
  display: block;
  margin-top: 20px;
  font-size: 14px;
}

.testimonial-list.big-font li {
  font-size: 28px;
}

.testimonial-list:before {
  font-family: FontAwesome;
  content: "\f10d";
  font-size: 40px;
  color: rgba(0, 0, 0, .1);
  position: absolute;
  margin-left: -30px;
}

.testimonial-list.style-2,
.testimonial-list.style-2 li {
  padding-left: 0px;
}

.testimonial-list.style-2 {
  text-align: center;
}

.testimonial-list.style-2:before {
  margin: 0;
  position: static;
}

.testimonial-list.style-2 span {
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
}
