<section id="profile_banner" aria-label="section" class="text-light">
</section>

<section aria-label="section" *ngIf="user">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="d_profile de-flex">
          <div class="de-flex-col">
            <div class="profile_avatar">
            <img [src]="user.avatar" alt="">
              <i class="fa fa-check"></i>
              <div class="profile_name">
                <h4>
                  {{ user.data.name }}
                  <span class="profile_username">{{ user.data.name }}</span>
                  <!--
                  <span id="wallet" class="profile_wallet">{{ user.wallet }}</span>
                  <button id="btn_copy" title="Copy Wallet" (click)="copyToClipboard(user.wallet)">Copy</button>
                  -->
                </h4>
              </div>
            </div>
          </div>
          <div class="profile_follow de-flex">
            <div class="de-flex-col">
              <div class="profile_follower">500 followers</div>
            </div>
            <div class="de-flex-col">
              <a href="#" class="btn-main">Follow</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12">
        <div class="de_tab tab_simple">
          <ul class="de_nav">
            <li
              [ngClass]="{ active: activeTab === tabs.OnSale}"
              (click)="activeTab = tabs.OnSale"
              >
              <span>On Sale</span>
            </li>
            <li
              [ngClass]="{ active: activeTab === tabs.Created}"
              (click)="activeTab = tabs.Created"
              >
              <span>Created</span>
            </li>
            <li
              [ngClass]="{ active: activeTab === tabs.Linked}"
              (click)="activeTab = tabs.Linked"
              >
              <span>Liked</span>
            </li>
          </ul>

          <div class="de_tab_content">
            <div class="tab-1" [hidden]="activeTab !== tabs.OnSale">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let item of onSaleItems">
                  <app-nft-item [item]="item"></app-nft-item>
                </div>
              </div>
            </div>

            <div class="tab-2" [hidden]="activeTab !== tabs.Created">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let item of createdItems">
                  <app-nft-item [item]="item"></app-nft-item>
                </div>
              </div>
            </div>

            <div class="tab-3" [hidden]="activeTab !== tabs.Linked">
              <div class="row">
                <div class="col-lg-3 col-md-6" *ngFor="let item of linkedItems">
                  <app-nft-item [item]="item"></app-nft-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
