<section id="profile_banner" aria-label="section" class="text-light">
</section>

<section aria-label="section" *ngIf="user">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="d_profile de-flex">
          <div class="de-flex-col">
            <div class="profile_avatar">
            <img [src]="'images/author_single/' + user.avatar" alt="">
              <i class="fa fa-check"></i>
              <div class="profile_name">
                <h4>
                  {{ user.name }}
                  <span class="profile_username">@monicaaa</span>
                  <span id="wallet" class="profile_wallet">DdzFFzCqrhshMSxb9oW3mRo4MJrQkusV3fGFSTwaiu4wPBqMryA9DYVJCkW9n7twCffG5f5wX2sSkoDXGiZB1HPa7K7f865Kk4LqnrME</span>
                  <button id="btn_copy" title="Copy Text">Copy</button>
                </h4>
              </div>
            </div>
          </div>
          <div class="profile_follow de-flex">
            <div class="de-flex-col">
              <div class="profile_follower">500 followers</div>
            </div>
            <div class="de-flex-col">
              <a href="#" class="btn-main">Follow</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-12">
        <div class="de_tab tab_simple">

          <ul class="de_nav">
            <li class="active"><span>On Sale</span></li>
            <li><span>Created</span></li>
            <li><span>Liked</span></li>
          </ul>

          <div class="de_tab_content">
            <div class="tab-1">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let item of onSaleItems">
                  <app-nft-item [item]="item"></app-nft-item>
                </div>
              </div>
            </div>

            <div class="tab-2">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" *ngFor="let item of createdItems">
                  <app-nft-item [item]="item"></app-nft-item>
                </div>
              </div>
            </div>

            <div class="tab-3">
              <div class="row">
                <div class="col-lg-3 col-md-6" *ngFor="let item of linkedItems">
                  <app-nft-item [item]="item"></app-nft-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
