<!-- section begin -->
<section id="profile_banner" aria-label="section" class="text-light">
</section>
<!-- section close -->
<section aria-label="section" class="d_coll no-top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d_profile">
          <div class="profile_avatar">
            <div class="d_profile_img">
              <img [src]="'/assets/images/author/' + user.avatar" alt=""> <!-- TODO replace to (collection owner)? -->
              <i class="fa fa-check"></i>
            </div>
            <div class="profile_name">
              <h4> Abstraction <div class="clearfix"></div>
                <span id="wallet"
                  class="profile_wallet">{{ user.wallet }}</span>
                <button id="btn_copy" title="Copy Wallet" (click)="copyToClipboard(user.wallet)">Copy</button>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="de_tab tab_simple">
          <ul class="de_nav">
            <li
              [ngClass]="{ active: activeTab === tabs.OnSale}"
              (click)="activeTab = tabs.OnSale"
            >
              <span>On Sale</span>
            </li>
            <li
              [ngClass]="{ active: activeTab === tabs.Owned}"
              (click)="activeTab = tabs.Owned"
            >
              <span>Owned</span>
            </li>
          </ul>
          <div class="de_tab_content">
            <div class="tab-1" [hidden]="activeTab !== tabs.OnSale">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 collection-item" *ngFor="let item of onSaleItems">
                  <app-nft-item [item]="item"></app-nft-item>
                </div>
              </div>
            </div>
            <div class="tab-2" [hidden]="activeTab !== tabs.Owned">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 collection-item" *ngFor="let item of ownedItems">
                  <app-nft-item [item]="item"></app-nft-item>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
