<div id="wrapper">
  <header [ngClass]="headerClass">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="de-flex sm-pt10">
            <div class="de-flex-col">
              <div class="de-flex-col">
                <!-- logo begin -->
                <div id="logo">
                  <a [routerLink]="routePaths.Home | link">
                    <img alt="" class="logo" src="/assets/images/logo-light.png" />
                    <img alt="" class="logo-2" src="/assets/images/logo.png" />
                  </a>
                </div>
                <!-- logo close -->
              </div>
              <div class="de-flex-col">
                <input #quickSearch type="text" placeholder="search item here..."
                  id="quick_search" class="xs-hide"
                />
              </div>
            </div>
            <div class="de-flex-col header-col-mid">
              <!-- mainmenu begin -->
              <ul id="mainmenu">
                <!--
                <li>
                  <a href="index.html">Home<span></span></a>
                  <ul>
                    <li><a href="03_grey-index.html">Grey Scheme</a></li>
                    <li><a href="05_black-index.html">Black Scheme</a></li>
                    <li><a href="06_clivus-index.html">Clivus Scheme</a></li>
                    <li><a href="04_retro-index.html">Retro Scheme</a></li>
                    <li><a href="index.html">Homepage 1</a></li>
                    <li><a href="index-2.html">Homepage 2</a></li>
                    <li><a href="index-3.html">Homepage 3</a></li>
                    <li><a href="index-4.html">Homepage 4</a></li>
                    <li><a href="index-5.html">Homepage 5</a></li>
                    <li><a href="index-6.html">Homepage 6</a></li>
                    <li><a href="index-7.html">Homepage 7</a></li>
                    <li><a href="index-8.html">Homepage 8</a></li>
                    <li><a href="index-9.html">Homepage 9</a></li>
                  </ul>
                </li>
                -->
                <li>
                  <a href="explore.html">Explore<span></span></a>
                  <ul>
                    <li><a [routerLink]="routePaths.NftsCatalog | link">Explore</a></li>
                    <li><a [routerLink]="routePaths.Collection | link">Collections</a></li>
                    <li><a [routerLink]="routePaths.Auction | link">Live Auction</a></li>
                    <li><a [routerLink]="routePaths.HelpCenter | link">Help Center</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Pages<span></span></a>
                  <ul>
                    <li><a [routerLink]="routePaths.Author | link">Author</a></li>
                    <li><a [routerLink]="routePaths.News | link">News</a></li>
                    <li><a [routerLink]="[]">Gallery</a></li>
                    <li><a [routerLink]="routePaths.LoginForm | link">Login</a></li>
                    <li><a [routerLink]="routePaths.Register | link">Register</a></li>
                    <li><a [routerLink]="routePaths.ContactUs | link">Contact Us</a></li>
                    <!-- for logged user only
                    <li><a [routerLink]="[UserRoutePaths.Profile] | link">Profile</a></li>
                    <li><a [routerLink]="[]">Wallet</a></li>
                    <li><a [routerLink]="[]">Create</a></li>
                    -->
                  </ul>
                </li>
                <li>
                  <a href="#">Stats<span></span></a>
                  <ul>
                    <li><a [routerLink]="routePaths.Activity | link">Activity</a></li>
                    <li><a [routerLink]="routePaths.Rankings | link">Rankings</a></li>
                  </ul>
                </li>
              </ul>
              <div class="menu_side_area">
                <!--
                <a [routerLink]="routePaths.ConnectWallet | link" class="btn-main btn-wallet">
                  <i class="icon_wallet_alt"></i><span>Connect Wallet</span>
                </a>
                -->
                <a class="btn btn-main btn-wallet" *ngIf="!user"
                  [routerLink]="routePaths.LoginForm | link"
                  [queryParams]="{ returnUrl }"
                  >
                  Sign In
                </a>
                <div class="de-login-menu" *ngIf="user">
                  <a [routerLink]="[]" class="btn-main"><i class="fa fa-plus"></i><span>Create</span></a>

                  <span id="de-click-menu-notification" class="de-menu-notification"
                    (click)="onOpenNotificationMenu()"
                    >
                    <span class="d-count" *ngIf="userNotifications.unreadCount > 0">
                      {{ userNotifications.unreadCount }}
                    </span>
                    <i class="fa fa-bell"></i>
                  </span>

                  <span id="de-click-menu-profile" class="de-menu-profile"
                    (click)="onOpenProfileMenu()"
                    >
                    <img [src]="user.avatar" class="img-fluid" alt="">
                  </span>

                  <div id="de-submenu-notification" [ngClass]="['de-submenu', showNotificationMenu ? 'open' : '']">
                    <div class="de-flex">
                      <div><h4>Notifications</h4></div>

                      <!-- TODO add link to page with all notifications -->
                      <a [routerLink]="[]" *ngIf="userNotifications.items.length > 0">
                        Show all
                      </a>
                    </div>

                    <ul>
                      <li *ngFor="let notify of userNotifications.items">
                        <a>
                          <img class="lazy" [src]="notify.fromUser.avatar">
                          <div class="d-desc">
                            <span class="d-name"><b>{{ notify.fromUser.data.name }}</b> {{ notify.message }}</span>
                            <span class="d-time">{{ notify.dateTime | timeAgo }}</span>
                          </div>
                        </a>
                      </li>
                    </ul>
                    <div *ngIf="userNotifications.items.length === 0">
                      No notifications
                    </div>
                  </div>

                  <div id="de-submenu-profile" [ngClass]="['de-submenu', showProfileMenu ? 'open' : '']">
                    <div class="d-name">
                      <h4>{{ user.data.name }}</h4>
                      <!--
                      <a [routerLink]="[routePaths.User, UserRoutePaths.Profile] | link">Set display name</a>
                      -->
                    </div>
                    <div class="spacer-10"></div>
                    <div class="d-wallet text-center" *ngIf="userAccounts.length === 0">
                      <a class="btn btn-main btn-wallet" (click)="connectWallet()">
                        <i class="icon_wallet_alt"></i><span>Connect Wallet</span>
                      </a>
                    </div>
                    <div class="d-balance" *ngIf="userAccounts.length > 0">
                      <h4>Balance</h4>
                      <div class="account-id" *ngFor="let userAccount of userAccounts">
                        <span>{{ userAccount.id }}:</span>
                        <span>{{ userAccount.balance}} ETH</span>
                      </div>
                    </div>

                    <!-- do we need it?
                    <div class="spacer-10"></div>
                    <div class="d-wallet">
                      <h4>My Wallet</h4>
                      <span id="wallet" class="d-wallet-address">DdzFFzCqrhshMSxb9oW3mRo4MJrQkusV3fGFSTwaiu4wPBqMryA9DYVJCkW9n7twCffG5f5wX2sSkoDXGiZB1HPa7K7f865Kk4LqnrME</span>
                      <button id="btn_copy" title="Copy Text">Copy</button>
                    </div>
                    -->

                    <div class="d-line"></div>

                    <ul class="de-submenu-profile">
                      <li>
                        <a [routerLink]="[routePaths.Author, user.data.userId] | link">
                          <i class="fa fa-user"></i> My NFTs
                        </a>
                      </li>
                      <li>
                        <a [routerLink]="[routePaths.User, UserRoutePaths.Profile] | link">
                          <i class="fa fa-pencil"></i> Edit profile
                        </a>
                      </li>
                      <li>
                        <a class="link" (click)="onSignOut()">
                          <i class="fa fa-sign-out"></i> Sign out
                        </a>
                      </li>
                    </ul>
                  </div>
                  <span id="menu-btn"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div [ngClass]="contentClass" id="content" #content>
    <div id="top"></div>
    <router-outlet (activate)="onActivate()"></router-outlet>
  </div>

  <a href="#" id="back-to-top"></a>

  <footer class="footer-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-1">
          <div class="widget">
            <h5>Marketplace</h5>
            <ul>
              <li><a href="#">All NFTs</a></li>
              <li><a href="#">Art</a></li>
              <li><a href="#">Music</a></li>
              <li><a href="#">Domain Names</a></li>
              <li><a href="#">Virtual World</a></li>
              <li><a href="#">Collectibles</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-1">
          <div class="widget">
            <h5>Resources</h5>
            <ul>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Partners</a></li>
              <li><a href="#">Suggestions</a></li>
              <li><a href="#">Discord</a></li>
              <li><a href="#">Docs</a></li>
              <li><a href="#">Newsletter</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-1">
          <div class="widget">
            <h5>Community</h5>
            <ul>
              <li><a href="#">Community</a></li>
              <li><a href="#">Documentation</a></li>
              <li><a href="#">Brand Assets</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Forum</a></li>
              <li><a href="#">Mailing List</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-1">
          <div class="widget">
            <h5>Newsletter</h5>
            <p>Signup for our newsletter to get the latest news in your inbox.</p>
            <form action="blank.php" class="row form-dark" id="form_subscribe" method="post" name="form_subscribe">
              <div class="col text-center">
                <input class="form-control" id="txt_subscribe" name="txt_subscribe" placeholder="enter your email" type="text" /> <a href="#" id="btn-subscribe"><i class="arrow_right bg-color-secondary"></i></a>
                <div class="clearfix"></div>
              </div>
            </form>
            <div class="spacer-10"></div>
            <small>Your email is safe with us. We don't spam.</small>
          </div>
        </div>
      </div>
    </div>
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="de-flex">
              <div class="de-flex-col">
                <a href="index.html">
                  <img alt="" class="f-logo" src="/assets/images/logo.png" /><span class="copy">&copy; Copyright 2022 - Gigaland by Designesia</span>
                </a>
              </div>
              <div class="de-flex-col">
                <div class="social-icons">
                  <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                  <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                  <a href="#"><i class="fa fa-linkedin fa-lg"></i></a>
                  <a href="#"><i class="fa fa-pinterest fa-lg"></i></a>
                  <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<div
  [ngClass]="['submenu-underlayer', (showNotificationMenu || showProfileMenu) ? 'visible': '']"
  (click)="closeSubmenus($event)"
></div>

<m-web3-modal
  title="Connect to your wallet"
  dismissText="Cancel"
></m-web3-modal>
<!--
  description="Modal description"
  descriptionGray="Modal subtitle"
-->
