<section aria-label="section">
  <div class="container">
    <div class="row wow fadeIn">
      <aside class="col-md-3">
        <div class="item_filter_group">
          <h4>Select Categories</h4>
          <div class="de_form">
            <div class="de_checkbox">
              <input id="check_cat_1" name="check_cat_1" type="checkbox" value="check_cat_1">
              <label for="check_cat_1">Art</label>
            </div>

            <div class="de_checkbox">
              <input id="check_cat_2" name="check_cat_2" type="checkbox" value="check_cat_2">
              <label for="check_cat_2">Music</label>
            </div>

            <div class="de_checkbox">
              <input id="check_cat_3" name="check_cat_3" type="checkbox" value="check_cat_3">
              <label for="check_cat_3">Domain Names</label>
            </div>

            <div class="de_checkbox">
              <input id="check_cat_4" name="check_cat_4" type="checkbox" value="check_cat_4">
              <label for="check_cat_4">Virtual World</label>
            </div>

            <div class="de_checkbox">
              <input id="check_cat_5" name="check_cat_5" type="checkbox" value="check_cat_5">
              <label for="check_cat_5">Trading Cards</label>
            </div>

            <div class="de_checkbox">
              <input id="check_cat_6" name="check_cat_6" type="checkbox" value="check_cat_6">
              <label for="check_cat_6">Collectibles</label>
            </div>

            <div class="de_checkbox">
              <input id="check_cat_7" name="check_cat_7" type="checkbox" value="check_cat_7">
              <label for="check_cat_7">Sports</label>
            </div>

            <div class="de_checkbox">
              <input id="check_cat_8" name="check_cat_8" type="checkbox" value="check_cat_8">
              <label for="check_cat_8">Utility</label>
            </div>

          </div>
        </div>

        <div class="item_filter_group">
          <h4>Status</h4>
          <div class="de_form">
            <div class="de_checkbox">
              <input id="check_stat_1" name="check_stat_1" type="checkbox" value="check_stat_1">
              <label for="check_stat_1">Buy Now</label>
            </div>

            <div class="de_checkbox">
              <input id="check_stat_2" name="check_stat_2" type="checkbox" value="check_stat_2">
              <label for="check_stat_2">On Auction</label>
            </div>

            <div class="de_checkbox">
              <input id="check_stat_3" name="check_stat_3" type="checkbox" value="check_stat_3">
              <label for="check_stat_3">has Offers</label>
            </div>
          </div>
        </div>

        <div class="item_filter_group">
          <h4>Items Type</h4>
          <div class="de_form">
            <div class="de_checkbox">
              <input id="check_item_type_1" name="check_item_type_1" type="checkbox" value="check_item_type_1">
              <label for="check_item_type_1">Single Items</label>
            </div>

            <div class="de_checkbox">
              <input id="check_item_type_2" name="check_item_type_2" type="checkbox" value="check_item_type_2">
              <label for="check_item_type_2">Bundles</label>
            </div>
          </div>
        </div>

        <div class="item_filter_group">
          <h4>Collections</h4>
          <div class="de_form">
            <div class="de_checkbox">
              <input id="check_coll_1" name="check_coll_1" type="checkbox" value="check_coll_1">
              <label for="check_coll_1">Abstraction</label>
            </div>

            <div class="de_checkbox">
              <input id="check_coll_2" name="check_coll_2" type="checkbox" value="check_coll_2">
              <label for="check_coll_2">Patternlicious</label>
            </div>

            <div class="de_checkbox">
              <input id="check_coll_3" name="check_coll_3" type="checkbox" value="check_coll_3">
              <label for="check_coll_3">Skecthify</label>
            </div>

            <div class="de_checkbox">
              <input id="check_coll_4" name="check_coll_4" type="checkbox" value="check_coll_4">
              <label for="check_coll_4">Cartoonism</label>
            </div>

            <div class="de_checkbox">
              <input id="check_coll_5" name="check_coll_5" type="checkbox" value="check_coll_5">
              <label for="check_coll_5">Virtuland</label>
            </div>

            <div class="de_checkbox">
              <input id="check_coll_6" name="check_coll_6" type="checkbox" value="check_coll_6">
              <label for="check_coll_6">Papercut</label>
            </div>
          </div>
        </div>
      </aside>
      <div class="col-md-9">
        <div class="row">
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="de_countdown" data-year="2022" data-month="4" data-day="16" data-hour="8"></div>
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Monica Lucas">
                  <img class="lazy" src="images/author/author-1.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/static-1.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Pinky Ocean</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.08 ETH<span>1/20</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>50</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Stacy Long">
                  <img class="lazy" src="images/author/author-10.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/static-2.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Deep Sea Phantasy</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.06 ETH<span>1/22</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>80</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="de_countdown" data-year="2022" data-month="4" data-day="14" data-hour="8"></div>
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Ida Chapman">
                  <img class="lazy" src="images/author/author-11.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/static-3.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Rainbow Style</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.05 ETH<span>1/11</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>97</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Fred Ryan">
                  <img class="lazy" src="images/author/author-12.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/static-4.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Two Tigers</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.02 ETH<span>1/15</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>73</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Franklin Greer">
                  <img class="lazy" src="images/author/author-9.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/anim-4.webp" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>The Truth</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.06 ETH<span>1/20</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>26</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="de_countdown" data-year="2022" data-month="4" data-day="6" data-hour="8"></div>
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Mamie Barnett">
                  <img class="lazy" src="images/author/author-2.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/anim-2.webp" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Running Puppets</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.03 ETH<span>1/24</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>45</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Nicholas Daniels">
                  <img class="lazy" src="images/author/author-3.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/anim-1.webp" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>USA Wordmation</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.09 ETH<span>1/25</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>76</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="de_countdown" data-year="2022" data-month="4" data-day="8" data-hour="8"></div>
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Lori Hart">
                  <img class="lazy" src="images/author/author-4.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/anim-5.webp" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Loop Donut</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.09 ETH<span>1/14</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>94</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="de_countdown" data-year="2022" data-month="4" data-day="16" data-hour="8"></div>
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Jimmy Wright">
                  <img class="lazy" src="images/author/author-5.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/anim-3.webp" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Lady Copter</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.08 ETH<span>1/21</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>75</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Gayle Hicks">
                  <img class="lazy" src="images/author/author-7.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/static-5.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Purple Planet</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.02 ETH<span>1/18</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>93</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="de_countdown" data-year="2022" data-month="4" data-day="16" data-hour="8"></div>
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Karla Sharp">
                  <img class="lazy" src="images/author/author-6.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/anim-6.webp" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Oh Yeah!</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.025 ETH<span>1/12</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>6</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Claude Banks">
                  <img class="lazy" src="images/author/author-8.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/anim-7.webp" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>This is Our Story</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.035 ETH<span>1/8</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>21</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Franklin Greer">
                  <img class="lazy" src="images/author/author-9.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/static-6.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Pixel World</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.015 ETH<span>1/25</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>46</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Fred Ryan">
                  <img class="lazy" src="images/author/author-12.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/anim-8.webp" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>I Believe I Can Fly</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.055 ETH<span>1/4</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>54</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Lori Hart">
                  <img class="lazy" src="images/author/author-4.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/static-7.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Cute Astronout</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.005 ETH<span>1/30</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>32</span>
                </div>
              </div>
            </div>
          </div>
          <!-- nft item begin -->
          <div class="d-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="nft__item">
              <div class="author_list_pp">
                <a href="author.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Creator: Monica Lucas">
                  <img class="lazy" src="images/author/author-1.jpg" alt="">
                  <i class="fa fa-check"></i>
                </a>
              </div>
              <div class="nft__item_wrap">
                <div class="nft__item_extra">
                  <div class="nft__item_buttons">
                    <button onclick="location.href='item-details.html'">Buy Now</button>
                    <div class="nft__item_share">
                      <h4>Share</h4>
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https://gigaland.io" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                      <a href="https://twitter.com/intent/tweet?url=https://gigaland.io" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                      <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site https://gigaland.io"><i class="fa fa-envelope fa-lg"></i></a>
                    </div>
                  </div>
                </div>
                <a href="item-details.html">
                  <img src="images/items/static-8.jpg" class="lazy nft__item_preview" alt="">
                </a>
              </div>
              <div class="nft__item_info">
                <a href="item-details.html">
                  <h4>Teal Ocean</h4>
                </a>
                <div class="nft__item_click">
              <span></span>
            </div>
            <div class="nft__item_price">
                  0.025 ETH<span>1/12</span>
                </div>
                <div class="nft__item_action">
                  <a href="#">Place a bid</a>
                </div>
                <div class="nft__item_like">
                  <i class="fa fa-heart"></i><span>24</span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 text-center">
            <a href="#" id="loadmore" class="btn-main wow fadeInUp lead">Load more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
