<section aria-label="section">
  <div class="container">
    <div class="row wow fadeIn">
      <aside class="col-md-3">
        <div class="item_filter_group">
          <h4>Select Categories</h4>
          <div class="de_form">
            <div class="de_checkbox" *ngFor="let cat of categories">
              <input  type="checkbox"
                [id]="'cat_' + cat.id"
                [formControl]="getControl('categories', cat.id)"
              />
              <label [for]="'cat_' + cat.id">{{ cat.name }}</label>
            </div>
          </div>
        </div>

        <div class="item_filter_group">
          <h4>Status</h4>
          <div class="de_form">
            <div class="de_checkbox">
              <input id="status_buy_now" type="checkbox" [formControl]="getControl('statuses', 'buyNow')" />
              <label for="status_buy_now">Buy Now</label>
            </div>

            <div class="de_checkbox">
              <input id="status_on_auction" type="checkbox" [formControl]="getControl('statuses', 'onAuction')" />
              <label for="status_on_auction">On Auction</label>
            </div>

            <div class="de_checkbox">
              <input id="status_has_offers" type="checkbox" [formControl]="getControl('statuses', 'hasOffers')" />
              <label for="status_has_offers">Has Offers</label>
            </div>
          </div>
        </div>

        <div class="item_filter_group">
          <h4>Items Type</h4>
          <div class="de_form">
            <div class="de_checkbox">
              <input id="item_type_single" type="checkbox" [formControl]="getControl('itemType', 'single')" />
              <label for="item_type_single">Single Items</label>
            </div>

            <div class="de_checkbox">
              <input id="item_type_bundle" type="checkbox" [formControl]="getControl('itemType', 'bundle')" />
              <label for="item_type_bundle">Bundles</label>
            </div>
          </div>
        </div>

        <div class="item_filter_group">
          <h4>Collections</h4>
          <div class="de_form">
            <div class="de_checkbox" *ngFor="let coll of collections">
              <input  type="checkbox"
                [id]="coll.id"
                [formControl]="getControl('collections', coll.id)"
              />
              <label [for]="coll.id">{{ coll.name }}</label>
            </div>
          </div>
        </div>
      </aside>
      <div class="col-md-9">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 collection-item" *ngFor="let item of items">
            <app-nft-item [item]="item" class="d-item"></app-nft-item>
          </div>

          <div class="col-md-12 text-center">
            <a href="#" id="loadmore" class="btn-main wow fadeInUp lead">Load more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
