<section id="subheader" class="text-light" data-bgimage="url(images/background/subheader.jpg) top">
  <div class="center-y relative text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>Restore password</h1>
          <p>Anim pariatur cliche reprehenderit</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>

<section aria-label="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="form" id='contact_form' class="form-border">
          <h3>Restore password</h3>

          <div class="field-set">
            <input type='text' formControlName='email' class="form-control" placeholder="Email">
            <div class="error" *ngIf="showFieldErrs(form, 'email')">
              <span *ngIf="fieldHasErr(form, 'email', 'required')">Email is required</span>
              <span *ngIf="fieldHasErr(form, 'email', 'email')">Valid Email is required</span>
            </div>
          </div>

          <div id='submit'>
            <input type='button' id='send_message' value='Restore' class="btn btn-main color-2"
              (click)="restorePassword()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
